<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <log4net>
    <!--Info-->
    <appender name="RollingAppender_Info" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="utf-8" />
      <!--指定日志文件保存的目录-->
      <file value="log\Log."/>
      <!--追加日志内容-->
      <appendToFile value="true"/>
      <!--可以为：Once|Size|Date|Composite-->
      <!--Compoosite为Size和Date的组合-->
      <rollingStyle value="Composite"/>
      <!--设置为true，当前最新日志文件名永远为file字节中的名字-->
      <staticLogFileName value="false"/>
      <!--当备份文件时，备份文件的名称及后缀名-->
      <datePattern value="yyyy-MM-dd'.info.log'"/>
      <!--日志最大个数-->
      <!--rollingStyle节点为Size时，只能有value个日志-->
      <!--rollingStyle节点为Composie时，每天有value个日志-->
      <maxSizeRollBackups value="20"/>
      <!--可用的单位：KB|MB|GB-->
      <maximumFileSize value="5MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    
    <!--Warn-->
    <appender name="RollingAppender_Warn" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="utf-8" />
      <!--指定日志文件保存的目录-->
      <file value="log\Log."/>
      <!--追加日志内容-->
      <appendToFile value="true"/>
      <!--可以为：Once|Size|Date|Composite-->
      <!--Compoosite为Size和Date的组合-->
      <rollingStyle value="Composite"/>
      <!--设置为true，当前最新日志文件名永远为file字节中的名字-->
      <staticLogFileName value="false"/>
      <!--当备份文件时，备份文件的名称及后缀名-->
      <datePattern value="yyyy-MM-dd'.warn.log'"/>
      <!--日志最大个数-->
      <!--rollingStyle节点为Size时，只能有value个日志-->
      <!--rollingStyle节点为Composie时，每天有value个日志-->
      <maxSizeRollBackups value="20"/>
      <!--可用的单位：KB|MB|GB-->
      <maximumFileSize value="5MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>


	<!--日志输出到Console https://www.cnblogs.com/anderslly/archive/2007/03/09/log4netconfigsamples.html -->
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
		</layout>
	</appender>

	<root>
      <priority value="ALL"/>
      <level value="ALL"/>
      <!-- 按日志类型切分日志文件 -->
      <appender-ref ref="RollingAppender_Info" />
      <appender-ref ref="RollingAppender_Warn" />
		
	  <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>
